apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: alumni-frontend
  template:
    metadata:
      labels:
        app: alumni-frontend
    spec:
      containers:
      - name: frontend
        image: aliasjad12/alumni-frontend:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: NodePort
  selector:
    app: alumni-frontend
  ports:
    - port: 80
      targetPort: 80
